<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xc.tlias_web_management.mapper.DeptMapper">
    <sql id="commonSelect">
        select id, name, create_time, update_time
        from dept
    </sql>

    <insert id="insert">
        insert into dept(name, create_time, update_time) values(#{name}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update dept
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteById">
        delete from dept
        where id = #{id}
    </delete>

    <select id="list" resultType="com.xc.tlias_web_management.pojo.Dept">
        <include refid="commonSelect"/>
    </select>

    <select id="getSimple" resultType="com.xc.tlias_web_management.pojo.Dept">
        <include refid="commonSelect"/>
        where id = #{id}
    </select>


</mapper>